<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Graduate student at the University of Michigan School of Information with an interest in oral history collections and their uses, applying new technologies in archival settings, and working with diverse communities to meet their needs. Experience working with local history materials, processing oral history collections, and using archival systems such as ArchivesSpace and CONTENTdm. Organized, independent, dynamic, and dependable; able to learn quickly and take initiative to solve problems.</p>
</div><!--//summary-->
</section><!--//section-->
