 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master of Science in Information, Specialization in Preservation of Information</h4>
    <h5 class="meta">University of Michigan School of Information</h5>
    <div class="time">2015-2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of Arts in Anthropology, Specialization in Archaeology</h4>
    <h5 class="meta">Rice University</h5>
    <div class="time">2011 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
