<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Research Assistant</h3>
                            <div class="time">September 2016-Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Music Time in Africa NEH Grant Project, University of Michigan, Ann Arbor, MI</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assisting with designing a workflow to process 900 digitized audio files and associated digitized scripts</p>
                        <p>Performed independent study on the effectiveness of the OCR program in ResCarta Toolkit</p>
                        <p>Familiarizing myself with metadata and music cataloging standards and assisting with creating metadata standards for the project</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Alternative Summer Break Intern</h3>
                            <div class="time">Summer 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">James Madison University Special Collections Library, Harrisonburg, VA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Inventoried and updated over 100 finding aids in three different formats (HTML, Word document, EAD)</p>
                        <p>Reformatted EADs for optimal ingesting into ArchivesSpace</p>
                        <p>Independently began a project to normalize dates in EADs using Python scripts</p>
                        <p>Created a manual on cleanup procedures and standards for metadata in ArchivesSpace</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Making Cancer History® Voices Oral History Collection Intern</h3>
                            <div class="time">Summer 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">MD Anderson Historical Resources Center, Houston, TX</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Published over 30 oral history interviews in OHMS, CONTENTdm, and LibGuides</p>
                      <p>Reviewed interviews for HIPAA violations and redacted interviews as necessary</p>
                      <p>Gained proficiency in the localized meme-based coding system for the oral histories</p>
                      <p>Segmented, coded, and created a flow log for an oral history video using the meme-based coding system</p>
                      <p>Created a manual on the processing procedures for future student interns</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Reader Services Assistant</h3>
                            <div class="time">September 2015-April 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Michigan Special Collections Library, Ann Arbor, MI</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Assisted patrons at the service desk through welcoming them and providing assistance</p>
                      <p>Scanned and duplicated material, retrieved materials, and readied materials for cataloging and use</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Community Bridges Coordinator</h3>
                            <div class="time">August 2014-July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Kinder Institute for Urban Research, Rice University, Houston, TX</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Managed a service learning fellowship for undergraduates in the sociology department</p>
                      <p>Developed and maintained positive relationships with partner agencies</p>
                      <p>Coordinated internships, events, trainings, publicity, development, and finances</p>
                      <p>Wrote and received $9000 grant for summer internship</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Houston Action Research Team Member</h3>
                            <div class="time">Summer 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Project Row Houses and Rice University, Houston, TX</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>As part of interdisciplinary team, conducted archival research on the history of the Eldorado Ballroom</p>
                      <p>Conducted interviews with leaders and community members about potential uses of ballroom</p>
                      <p>Created an exhibit on the history of the ballroom and future uses to restore its significance to the community</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
